<div class="container text-center">
    <div class="card text-center bd-none">
        <div class="card-body">
            Computer Science 230: Software Engineering
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Syllabus</h5>
            <div class="row g-2">
                <div class="col-6">
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          FY 21-22
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Syllabus</a></li>
                        </ul>
                      </div>
                </div>
                <div class="col-6">
                    <div class=""></div>
                </div>
                <div class="col-6">
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            FY 20-21
                        </button>
                        <ul class="dropdown-menu">
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                            </ul>
                        </ul>
                    </div>
                    <div class="col-6">
                        <div class=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>